<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Weather</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>

    <body>
        <%- include('partials/navigation') %>

        <div class="container vh-100">
            <h1>City Details</h1>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Country: <%= cityData?.country %></p>
                        <p class="card-text">Latitude: <%= cityData?.latitude %></p>
                        <p class="card-text">Longitude: <%= cityData?.longitude %></p>
                        <p class="card-text">Population: <%= cityData?.population %></p>
                        <p class="card-text">Capital: <%= cityData?.is_capital ? 'Yes' : 'No' %></p>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">Air Quality Index (AQI)</div>
                        <div class="card-body">
                            <h5 class="card-title">Overall AQI: <%= airQualityData?.overall_aqi %></h5>
                            <p class="card-text">
                                <strong>CO:</strong> <%= airQualityData?.CO.concentration %> µg/m³ (AQI: <%= airQualityData.CO.aqi %>)
                            </p>
                            <p class="card-text">
                                <strong>NO2:</strong> <%= airQualityData?.NO2.concentration %> µg/m³ (AQI: <%= airQualityData.NO2.aqi %>)
                            </p>
                            <p class="card-text">
                                <strong>O3:</strong> <%= airQualityData?.O3.concentration %> µg/m³ (AQI: <%= airQualityData.O3.aqi %>)
                            </p>
                            <p class="card-text">
                                <strong>SO2:</strong> <%= airQualityData?.SO2.concentration %> µg/m³ (AQI: <%= airQualityData.SO2.aqi %>)
                            </p>
                            <p class="card-text">
                                <strong>PM2.5:</strong> <%= airQualityData['PM2.5']?.concentration %> µg/m³ (AQI: <%=
                                airQualityData['PM2.5'].aqi %>)
                            </p>
                            <p class="card-text">
                                <strong>PM10:</strong> <%= airQualityData?.PM10.concentration %> µg/m³ (AQI: <%= airQualityData.PM10.aqi %>)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <h1>Weather</h1>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Temperature</h5>
                                <p class="card-text"><%= weatherData.temperature %>°C</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Feels Like</h5>
                                <p class="card-text"><%= weatherData.feels_like %>°C</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Pressure</h5>
                                <p class="card-text"><%= weatherData.pressure %> hPa</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Humidity</h5>
                                <p class="card-text"><%= weatherData.humidity %> mm</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Weather</h5>
                                <div class="row ml-1">
                                    <p class="card-text"><%= weatherData.main %></p>
                                    <img src="https://openweathermap.org/img/wn/<%= weatherData.icon %>.png" alt="Weather Icon" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Wind speed</h5>
                                <p class="card-text"><%= weatherData.wind%> m/s</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />

        <%- include('partials/footer') %>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
